/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

/*Regole Generali*/
body > header,
body > section,
body > footer
{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

body > section {
    padding: 50px;
}

.flexContainer {
    width: 1200px;
    max-width: 1200px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Header*/
body > header {
    padding: 15px;
}

body > header *{
    text-decoration: none;
    color: black;
}

body > header > .flexContainer{
    height: 50px;
}

body > header > .flexContainer > * {
    display: flex;
    align-items: center;
}

body > header > .flexContainer > div {
    width: 15%;
    height: 100%;
    flex-shrink: 1;
    padding: 10px;
}

body > header > .flexContainer > div:nth-of-type(1){
    justify-content: flex-start;
}

body > header > .flexContainer > div:nth-of-type(2){
    justify-content: flex-end;
}

body > header > .flexContainer > nav {
    width: 60%;
    height: 100%;
    flex-shrink: 2;

    justify-content: center;
}

body > header > .flexContainer > nav ul {
    width: 100%;
    list-style: none;

    display: flex;
    justify-content: space-around;
}

/*Jumbotron*/
body > #jumbotronSection > #jumbotron{
    width: 910px;
    height: 400px;
}

/*Sections*/
body > section:nth-of-type(even){
    background-color: white;
}

body > section:nth-of-type(odd){
    background-color: lightgray;
}

body > section .flexContainer > div {
    height: 500px;
}

body > section > .flexContainer > .imageContainer{
    width: 60%;
}

body > section > .flexContainer > .textContainer{
    width: 40%;
}

body > section:last-of-type > .flexContainer{
    height: 900px;
}








/*DEBUG*/
/*header*/
.debug header{
    background-color: lightblue;
}

.debug header .flexContainer{
    background-color: goldenrod;
}

.debug .flexContainer > div,
.debug .flexContainer > nav,
.debug #jumbotron,
.debug > section:last-of-type > .flexContainer
{
    border: 2px dashed black;
}

/*jumbotron*/
.debug #jumbotronSection{
    background-color :darkblue;
}

.debug #jumbotron{ 
    background-color: violet;
}

/*Sections*/
.debug .imageContainer {
    background-color: dodgerblue;
}

.debug .textContainer {
    background-color: pink;
}

.debug > section:last-of-type > .flexContainer{
    background-color:forestgreen
}